@import '../../scss/variables';
@import '../../scss/mixins';

.textCenter {
    text-align: center;
}

.startGame, .intro1, .intro2, .intro3 {
    @include message();
}

.intro1 h3 {
    font-weight: 400;
    margin-bottom: 2rem;
}

.hourGlass {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.nextGoal {
    padding-left: 0.75rem;
}

.tech {
    padding: 0.25rem 0.5rem;
	border-radius: 50%;
	position: relative;
	top: 0.5rem;
}

.activatedTech {
    @include activated();
    size: 120%;
    font-size: 140%;
}

.stepsAnimation {
    margin: 1rem auto;
}

.tile img {
    border-radius: 25%;
	margin: 0;
	box-shadow: #444 3px 2px 2px;
	height: 2rem;
	opacity: 0.8;
	padding: 4px;
	position: relative;
}

.congrat {
    @include message();
    margin: auto;
}

.gameOver {
    @include message();
}

.popUpTech {
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;
    margin: auto;
}

.selectTechButton {
    @include basicButton();
    width: 60%;
}

.nonreSeries {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}