@import '../../scss/variables';

$controls: 2rem;

.gameBoard {
    min-width: 320px;
    width: $gameFieldMaxHeight;
    background: #fff;
    min-height: calc(#{$heatherHeight} + #{$gameFieldHeight});
    height: calc(#{$heatherHeight} + #{$gameFieldMaxHeight} + #{$controls});
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}
