.tile {
    position: absolute;
    width: 7%;
    height: 7%;
    background-image: url('../../../assets/imgs/icon_1.png');
    background-size: cover;
    background-position: center;
    border-radius: 25%;
    margin: 0;
    box-shadow: #444 3px 2px 2px;
    padding: 2px;
    cursor: pointer;
}

.enterAnimation {
    animation: enter;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes enter {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0.85;
    }
}

.highlighted {
    box-shadow: #6b746e 6px 3px 3px !important;
	transform: scale(1.1);
}

.fading {
    animation: fade;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
