@import '../../../scss/variables';

.goButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	bottom: 1rem;
    background-color: transparent;
	line-height: 7rem;
	color: $fontColor;
	width: 150px;
	height: 7rem;
	margin-top: 1.4rem;
	background-image: url('../../../assets/imgs/recycle.png');
    background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
	font-size: 2rem;
	text-align: center;
	vertical-align: middle;
    cursor:pointer;
	font-family: 'Sriracha', sans-serif;
}
