@import '../../scss/variables';

.header {
    background-color: $primaryColor;
    width: 100%;
    min-height: $heatherHeight;
    display: flex;
    align-items: center;
    justify-content: space-around;
}