@mixin headerElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $headerFontColor;
    font-weight: 500;
    line-height: 1.55;
}

@mixin message {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    line-height: 1.6;
}