@mixin headerElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $headerFontColor;
    font-weight: 500;
    line-height: 1.55;
}

@mixin message {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    line-height: 1.6;
}

@mixin activated {
    text-shadow: 0 0 1px rgb(238, 184, 103);
	color: rgb(245, 232, 157);
	box-shadow: 2px 2px 4px rgb(212, 201, 134);
	position: relative;
}

@mixin basicButton {
    background-color: $primaryColor;
    color: $headerFontColor;
    margin: 0.75rem auto;
    border-radius: 4px;
    padding: 0.5rem 1rem;


    &:hover {
        color: #444;
        background-color: beige;
        cursor: pointer;
    }
}