$primaryColor: #353430;

$heatherHeight: 4rem;
$gameFieldHeight: 288px;
$gameFieldMaxHeight: 344px;

$headerFontColor: #fff;
$fontColor: #f1f1f1;

$tileLength: 9%;
$tileContainerLength: 12%;

:export {
    tileWH: $tileLength;
    tileContainerWH: $tileContainerLength;
}